/* button {
  background: purple;
  color: red;
  padding: 10px 20px;
  font-size: 18px;
  display: flex;
}
a {
  text-decoration: none;
  color: purple;
}
.name {
  height: 100%;
  width: 100%;

  background: #000;
}
p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
  margin-top: 200px;
} */
