form {
  display: flex;
  flex-direction: column;
  height: 40vh;
  background-color: rgb(235, 92, 92);
  justify-content: center;
  align-items: center;
  gap: 15px;
}
input {
  border: 1px solid green;
}
